* {
  margin: 0;
  font-family: "Roboto Mono";
}

.navigation a {
  display: inline-block;
  margin: 1rem 9rem 4rem 9rem;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  color: white;
}

.navigation a {
  width: 10rem;
  height: 4rem;
  vertical-align: top;
}

div > .id {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: left;
  margin-left: 1rem;
}

div img {
  width: 5rem;
  height: 5rem;
}

h1 {
  font-family: "Chelsea Market";
  margin: 1rem;
}

.banner {
  display: flex;
  margin-left: 1rem;
}

.explan {
  color: white;
  background-color: #ddb9a3;
  margin: 1rem;
  text-align: center;
  font-size: medium;
  width: 80rem;
}

.container {
  display: block;
  margin: 1rem 35rem;
  margin-bottom: 5rem;
  width: 20rem;
  text-align: center;
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

footer img {
  height: 30rem;
  object-position: top;
}
